*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

.vscode/
*.suo
*.ntvs_analysis.dat
*.ntvs_testresults

.idea/

*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

ScaffoldingTemplates/

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

*.cab
*.msi
*.msm
*.msp

*.lnk

.idea/
*.sln.iml
*.ipr

*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

*.cab
*.msi
*.msm
*.msp

*.lnk

.idea/
*.sln.iml
*.ipr
*.iws
.idea/

*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

*.cab
*.msi
*.msm
*.msp

*.lnk

.idea/
*.sln.iml
*.ipr
*.iws
.idea/
